extends layout
block content
  .lp-content
    h2 log in
      form.lp-login(action="login", method="post")
        p
          input.lp-login-input(name="email", type="text", placeholder="example@site.com")
        p
          input.lp-login-input(name="password", type="password", placeholder="example@site.com")
        p
          button.lp-login-btn(type="submit") Log in