extends layout
block globalVars
  - var siteTitle = '写文章'
block content
  form(ng-controller="edit" name="edit" class="lpadmin-edit")
    div.lpformgroup
      label(for="title") 标题
      input(id="title" placeholder="请输入文章标题" ng-model="title" required)
    div.lpformgroup
      editblock(ng-model="content" required)
    div.lpformgroup.lpflex
      div.lpadmin-category
        items-editblock(ng-model="category" title="分类" method="categoryMethod" required)
      div.lpadmin-tag
        items-editblock(ng-model="tag" title="标签" method="tagMethod" muti)
    div.lpformgroup
      <div class="lperrmsg" ng-if="errMsg" ng-bind="errMsg"></div>
      button(ng-click="submit()") 提交
