doctype html
html
  head
    title lightpress-init
  body.lpadmininit(ng-app="lp-admin")
    div(ng-controller="init")
      h2 lightpress-初始化
      form.lpblock
        div.lperrmsg(ng-if="initErrMsg" ng-bind="initErrMsg")
        div.lpformgroup.lpflex
          label(for="adminname") rootName:
          input#adminname(ng-model="init.rootName" required)
        div.lpformgroup.lpflex
          label(for="adminemail") rootEmail:
          input#adminemail(ng-model="init.rootEmail" required)
        div.lperrmsg(ng-if="passwordErrMsg" ng-bind="adminErrMsg")
        div.lpformgroup.lpflex
          label(for="adminpassword") adminpassword:
          input#adminpassword(type="password" ng-model="init.rootPassword" required)
        div.lpformgroup.lpflex
          label(for="repeatpassword") repeatpassword:
          input#repeatpassword(type="password" ng-model="repeatpassword" required)
        button(ng-click="submit()") submit
    script(src="/static/node_modules/angular/angular.min.js")
    script(src="/static/dist/admin.js")
