doctype html
html
  head
    title login-#{config.name}
  body.lpadminlogin(ng-app="lp-admin")
    form(ng-controller="login")
      div.lpformgroup.lpadminlogin-title lightpress-内容管理
      div.lperrmsg(ng-if="errMsg" ng-bind="errMsg")
      div.lpformgroup.lpflex
        label(for="name") username:
        input(ng-model="name" id="name" required)
      div.lpformgroup.lpflex
        label(for="password") password:
        input(ng-model="password" type="password" id="password" required)
      button(ng-click="submit()") submit
    script(src="/static/node_modules/angular/angular.min.js")
    script(src="/static/dist/admin.js")
