extends ../layout

block content
  div(ng-controller="admin")
    h2 init
    div name
      input(ng-model="initName")
    div description
      input(ng-model="initDescription")
    div rootname
      input(ng-model="initRootname")
    div rootemail
      input(ng-model="initRootemail")
    div rootpassword
      input(ng-model="initRootpassword")
      button(ng-click="init()") init

    h2 changeconfig
    div name
      input(ng-model="changeconfigName")
    div description
      input(ng-model="changeconfigDescription")
      button(ng-click="changeconfig()") change

    h2 edit admin
    div id
      input(ng-model="editminId")
    div name
      input(ng-model="editminName")
    div email
      input(ng-model="editminEmail")
    div password
      input(ng-model="editminPassword")
    div authority
      input(ng-model="editminAuthority")
      button(ng-click="editmin()") add

    h2 del admin
    div id
      input(ng-model="deladminId")
      button(ng-click="deladmin()") del

    h2 change admin
    div email
      input(ng-model="changeadminEmail")
      button(ng-click="changeadmin()") change

    h2 change admin password
    div password
      input(ng-model="changeadminpasswordPassword")
      button(ng-click="changeadminpassword()") change

    h2 change admin auth
    div auth
      input(ng-model="changeadminauthAuth")
      button(ng-click="changeadminauth()") change

    h2 login
    div name
      input(ng-model="loginName")
    div password
      input(ng-model="loginPassword")
      button(ng-click="login()") login

    h2 logout
    div
      button(ng-click="logout()") logout

