extends ./layout

block content
  div(ng-controller="admin")
    h2 init
    div name
      input(ng-model="initName")
    div description
      input(ng-model="initDescription")
    div rootname
      input(ng-model="initRootname")
    div rootemail
      input(ng-model="initRootemail")
    div rootpassword
      input(ng-model="initRootpassword")
      button(ng-click="init()") init

    h2 changeconfig
    div name
      input(ng-model="changeconfigName")
    div description
      input(ng-model="changeconfigDescription")
      button(ng-click="changeconfig()") change

    h2 add admin
    div name
      input(ng-model="addadminName")
    div email
      input(ng-model="addadminEmail")
    div password
      input(ng-model="addadminPassword")
    div authority
      input(ng-model="addadminAuthority")
      button(ng-click="addadmin()") add

    h2 del admin
    div id
      input(ng-model="deladminId")
      button(ng-click="deladmin()") del

    h2 change admin
    div name
      input(ng-model="changeadminName")
    div email
      input(ng-model="changeadminEmail")
    div authority
      input(ng-model="changeadminAuthority")
      button(ng-click="changeadmin()") change

    h2 change adminpassword
    div password
      input(ng-model="changeadminpasswordValue")
      button(ng-click="changeadminpassword()") change

    h2 login
    div name
      input(ng-model="loginName")
    div password
      input(ng-model="loginPassword")
      button(ng-click="login()") login

    h2 logout
    div
      button(ng-click="logout()") logout

