extends ./layout

block content
  div(ng-controller="article")
    h2 edit
    div id
      input(ng-model="editId")
    div title
      input(ng-model="editTitle")
    div content
      input(ng-model="editContent")
    div author
      input(ng-model="editAuthor")
    div category
      input(ng-model="editCategory")
    div tag
      input(ng-model="editTag")
      button(ng-click="edit()") edit

    h2 del
    div id
      input(ng-model="delId")
      button(ng-click="del()") del

    h2 fetchall
    div
      button(ng-click="fetchall()") fetchall

    h2 fetchbyid
    div id
      input(ng-model="fetchbyidValue")
      button(ng-click="fetchbyid()") ferchbyid
