doctype html
html
  head
    title= appTitle
    link(rel="stylesheet" href="/js/blog.css")
    script(type="text/javascript" src="/js/blog.js")
  body
    block header
    block content
    block footer