body, html {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
  overflow: auto;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  color: #666;
}

div, input, textarea {
  box-sizing: border-box;
}

input, input:focus, textarea, textarea:focus {
  outline: none;
}

input, textarea {
  border: 1px #eee solid;
  width: 100%;
  padding: 5px;
}

textarea {
  resize: none;
  min-height: 80px;
}

input:focus, textarea:focus {
  border-color: #1fa67a;
}

button, .button {
  background-color: #666;
  border: 0;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  width: auto;
}

button:hover, .button:hover {
  background-color: #20a0ff;
  transition: background-color .2s cubic-bezier(.645,.045,.355,1);
}

a {
  cursor: pointer;
  color: #666;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #20a0ff;
  transition: color .2s cubic-bezier(.645,.045,.355,1);
}

#article > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.topbar {
  border-bottom: 1px #eee solid;
}

.topbar > div {
  width: 1000px;
  margin: auto;
  text-align: right;
  padding: 30px 0;
}
.topbar > div > a {
  margin: 0px 5px;
  font-size: 18px;
}
.topbar-title {
  float: left;
  margin-top: -14px;
  text-align: left;
}

.topbar-title a {
  font-size: 24px;
  color: #1fa67a;
}

.topbar-title h4 {
  margin: 0;
  font-size: 12px;
  color: #999;
}

.content {
  display: flex;
  width: 1000px;
  margin: auto;
}

.content > div:first-child {
  flex: 1;
  width: 0;
}

.sidebar {
  width: 240px;
  right: 0px;
  top: 30px;
  margin-left: 30px;
  margin-top: 30px;
}

.sidebar > div {
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px #eee solid;
}

.sidebar > div:last-child {
  border-bottom: none;
}

.sidebar > div > h3 {
  font-size: 20px;
  color: #1fa67a;
  margin: 0;
  margin-bottom: 5px;
}

.sidebar > div > a {
  line-height: 20px;
  display: block;
  line-height: 28px;
}

.sidebar-search {
  position: relative;
}

.sidebar-search button {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  margin: 0;
  padding: 0;
  border: 1px #eee solid;
  background-color: #fff;
  height: 30px;
}

.sidebar-search input {
  border: 1px #eee solid;
  color: #1f2d3d;
  display: block;
  font-size: inherit;
  height: 30px;
  line-height: 1;
  padding: 3px 40px 3px 10px;
  width: 100%;
  outline: 0;
}

.footer {
  border-top: 1px #eee solid;
  padding-top: 30px;
  text-align: center;
  line-height: 50px;
}

#article > ul > li:first-child {
  border-top: none;
}

.list {
  display: flex;
  padding-top: 30px;
  margin-bottom: 30px;
  border-top: 1px #eee solid;
}

.list > div {
  width: 140px;
  text-align: right;
  padding-right: 20px;
}

.list > a {
  flex: 1;
}

.list-date {
  font-size: 26px;
  font-weight: bold;
  color: #ccc;
}

.list-category {
  margin: 5px 0 10px;
}

.tag a {
  vertical-align: bottom;
  font-size: 14px;
  display: inline-block;
  padding: 1px 4px;
  font-weight: normal;
  background-color: #666;
  border-radius: 4px;
  margin-left: 3px;
  color: #fff;
}

.tag a:hover {
  background-color: #20a0ff;
  transition: background-color .2s cubic-bezier(.645,.045,.355,1);
}

.list-title {
  font-size: 26px;
  color: #333;
  margin-bottom: 4px;
}

.list-content, .single-content {
  line-height: 26px;
  color: #666;
  font-weight: normal;
}

.single-bottom {
  margin-top:30px;
  padding-bottom: 30px;
}

.pager {
  font-size: 18px;
}

.pager > a {
  margin: 0 10px;
}

.pager-next {
  float: right;
}

.single {
  margin-top: 30px;
}

.single-title {
  color: #333;
}

.single-info {
  border-bottom: 1px #eee solid;
  padding-bottom: 20px;
}

.single-content {
  margin-top: 30px;
  padding-bottom: 10px;
  border-bottom: 1px #eee solid;
}

.single-content a {
  text-decoration: underline;
}

.comment dt > a {
  font-weight: bold;
}

.comment > div {
    border-bottom: 1px #eee solid;
}

.comment > div:last-child {
  border: none;
}

.comment dl:first-child {
  display: flex;
  align-items: center;
}

.comment dd {
  color: #ccc;
  font-size: 12px;
  text-align: right;
  margin-left: 10px;
}

.comment dd:last-child {
  flex: 1;
}

.commentform dt, .commentform dd {
  display: inline-block;
  line-height: 19px;
}

.commentform dd {
  margin: 0 10px;
}

#about {
  padding: 30px 0;
}

#about b {
  color: #333;
  margin-right: 10px;
}

#about img {
  height: 20px;
  vertical-align: bottom;
  margin-right: 5px;
}

@media (max-width: 1000px) {
  body {
    font-size: 14px;
  }

  .sidebar {
    display: none;
  }

  .topbar-title {
    float: none;
    margin-top: 0;
    text-align: center;
  }

  .single-title {
    margin: 10px 0;
  }

  .topbar > div {
    text-align: center;
  }

  .topbar > div > a {
    font-size: 14px;
  }

  .content, .topbar > div {
    width: 100%;
    padding: 0 0 10px;
  }

  .list, .single, #about {
    padding: 10px 20px 0;
    margin: 10px 0 0;
  }

  .list > div {
    width: 110px;
  }

  .topbar-title a, .list-date, .list-title, .single-title {
    font-size: 18px;
  }

  .tag a {
    font-size: 12px;
  }

  .pager {
    font-size: 14px;
  }
}
