#wrapper div, #wrapper span, #wrapper object, #wrapper iframe, #wrapper h1, #wrapper h2, #wrapper h3, #wrapper h4, #wrapper h5, #wrapper h6, #wrapper p, #wrapper blockquote, #wrapper pre, #wrapper a, #wrapper abbr, #wrapper acronym, #wrapper address, #wrapper code, #wrapper del, #wrapper dfn, #wrapper em, #wrapper img, #wrapper q, #wrapper dl, #wrapper dt, #wrapper dd, #wrapper ol, #wrapper ul, #wrapper li, #wrapper fieldset, #wrapper form, #wrapper label, #wrapper legend, #wrapper table, #wrapper caption, #wrapper tbody, #wrapper tfoot, #wrapper thead, #wrapper tr, #wrapper th, #wrapper td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  vertical-align: baseline; }

#wrapper table {
  border-collapse: collapse;
  border-spacing: 0; }
#wrapper caption, #wrapper th, #wrapper td {
  text-align: left;
  font-weight: 400; }
#wrapper blockquote:before, #wrapper blockquote:after, #wrapper q:before, #wrapper q:after {
  content: ""; }
#wrapper blockquote, #wrapper q {
  quotes: "" ""; }
#wrapper a img {
  border: none; }
#wrapper input, #wrapper textarea {
  margin: 0; }
  #wrapper p, #wrapper ul, #wrapper ol, #wrapper dl, #wrapper td, #wrapper input, #wrapper textarea, #wrapper div {
    color: #333; }
  #wrapper h1, #wrapper h2, #wrapper h3, #wrapper h4, #wrapper h5, #wrapper h6 {
    color: #333;
    letter-spacing: 0; }
  #wrapper h1 {
    line-height: 1;
    margin-bottom: 0.5em; }
  #wrapper h2 {
    margin-bottom: 0.75em; }
  #wrapper h3 {
    line-height: 1;
    margin-bottom: 1em; }
  #wrapper h4 {
    line-height: 1.25;
    margin-bottom: 1.25em; }
  #wrapper h5 {
    margin-bottom: 1.5em; }
  #wrapper p {
    margin: 0 0 1.5em; }
  #wrapper ul, #wrapper ol {
    color: #444;
    margin: 1em 2em; }
  #wrapper ul {
    list-style-type: circle; }
  #wrapper ol {
    list-style-type: decimal; }
  #wrapper li > p:first-child {
    margin: 0; }
  #wrapper dl {
    margin: 0 0 1.5em 0; }
    #wrapper dl dt {
      font-weight: bold; }
    #wrapper dl dd {
      margin-left: 1.5em; }
  #wrapper blockquote {
    background: #e7e7e7;
    border-top: 1px solid #ccc;
    margin: 1.5em;
    color: #444;
    font-style: italic; }
    #wrapper blockquote p {
      padding: 1em;
      border-top: 1px solid #fff; }
  #wrapper strong {
    font-weight: bold; }
  #wrapper em {
    font-style: italic; }
  #wrapper dfn {
    font-weight: bold; }
  #wrapper pre, #wrapper code, #wrapper tt {
    color: #8b8074;
    font-family: Menlo, Monaco, monospace;
    font-weight: bold;
    text-align: left;
    margin: 2em 0; }
  #wrapper tt {
    display: block;
    margin: 1.5em 0;
    line-height: 1.5; }
  #wrapper img {
    max-width: 100%;
    height: auto; }
  #wrapper caption, #wrapper col, #wrapper colgroup, #wrapper table, #wrapper tbody, #wrapper td, #wrapper tfoot, #wrapper th, #wrapper thead, #wrapper tr {
    border-spacing: 0; }
  #wrapper caption {
    color: #666; }
  #wrapper figure {
    display: inline-block;
    margin: .5em 0 1.8em;
    position: relative; }
  #wrapper sup, #wrapper sub {
    height: 0;
    line-height: 1;
    position: relative;
    vertical-align: super; }
  #wrapper sub {
    vertical-align: sub;
    top: -1px; }
  #wrapper table {
    width: 100%;
    margin-bottom: 2em;
    padding: 0;
    border: 1px solid #ddd;
    border-collapse: separate;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px; }
    #wrapper table th, #wrapper table td {
      padding: 10px 10px 9px;
      line-height: 18px;
      text-align: left; }
    #wrapper table th {
      padding-top: 9px;
      font-weight: bold;
      vertical-align: middle; }
    #wrapper table td {
      vertical-align: top;
      border-top: 1px solid #ddd; }
    #wrapper table tbody th {
      border-top: 1px solid #ddd;
      vertical-align: top; }
    #wrapper table th + th, #wrapper table td + td, #wrapper table th + td {
      border-left: 1px solid #ddd; }
    #wrapper table thead tr:first-child th:first-child, #wrapper table tbody tr:first-child td:first-child {
      border-radius: 4px 0 0 0;
      -moz-border-radius: 4px 0 0 0;
      -webkit-border-radius: 4px 0 0 0; }
    #wrapper table thead tr:first-child th:last-child, #wrapper table tbody tr:first-child td:last-child {
      border-radius: 0 4px 0 0;
      -moz-border-radius: 0 4px 0 0;
      -webkit-border-radius: 0 4px 0 0; }
    #wrapper table tbody tr:last-child td:first-child {
      border-radius: 0 0 0 4px;
      -moz-border-radius: 0 0 0 4px;
      -webkit-border-radius: 0 0 0 4px; }
    #wrapper table tbody tr:last-child td:last-child {
      border-radius: 0 0 4px 0;
      -moz-border-radius: 0 0 4px 0;
      -webkit-border-radius: 0 0 4px 0; }
    #wrapper table tbody tr:nth-child(odd) {
      background-color: rgba(0, 0, 0, 0.03); }
