@import './../../../public/common/base.css';

.lpsidebar {
  position: fixed;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  width: 210px;
  box-shadow: 2px 0 2px 1px #eee;
  background-color: #fff;
}

.lpsidebar-title {
  font-size: 20px;
  margin: 30px 0 10px;
  padding: 0 10px;
}

.lpsidebar-desc {
  margin-bottom: 20px;
  padding: 0 10px;
}

.lpcontent {
  padding: 20px 0 0 220px;
  background-color: #f5f5f5;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
}

.lparticleblock {
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px 3px #ececec;
}

.lparticleblock-info {
  margin-bottom: 10px;
  a { font-size: 20px; }
  span {
    color: #999;
    margin-left: 20px;
  }
}

.lparticleblock-link {
  margin-bottom: 20px;
  span {
    margin-right: 5px;
  }
  a {
    font-size: 12px;
    display: inline-block;
    padding: 5px 6px 2px;
    color: #fff;
    background-color: #333;
    border-radius: 2px;
    margin-right: 10px;
  }
}
