header.lpadminsidebar
  div.lpadminsidebar-title
    i.fa.fa-mixcloud
    | lightpress
  div.lpadminsidebar-list
    a(href="/admin" class= siteTitle === static.articles ? 'focus' : '')
      i.fa.fa-list
      | #{static.articles}
    a(href="/admin/edit" class= siteTitle === static.edit ? 'focus' : '')
      i.fa.fa-pencil-square-o
      | #{static.edit}
    a(href="/admin/setting" class= siteTitle === static.setting ? 'focus' : '')
      i.fa.fa-tachometer
      | #{static.setting}
