header.lpadminsidebar
  div.lpadminsidebar-title
    i.fa.fa-mixcloud
    | lightpress
  div.lpadminsidebar-list
    a(href="/admin" class= siteTitle === '文章列表' ? 'focus' : '')
      i.fa.fa-list
      | 文章列表
    a(href="/admin/edit" class= siteTitle === '写文章' ? 'focus' : '')
      i.fa.fa-pencil-square-o
      | 写文章
    a(href="/admin/setting" class= siteTitle === '设置' ? 'focus' : '')
      i.fa.fa-tachometer
      | 设置
