body, html {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
  overflow: auto;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
}

#topbar #title {
  float: left;
  height: 40px;
  margin: 0;
  padding: 10px;
  margin-left: 10px;
}

#topbar .el-menu-item a {
  display: inline-block;
  text-decoration: none;
}

#topbar .el-menu-item:last-child {
  float: right;
}

#topbar .topbar-label {
  display: none;
}

.content {
  padding: 20px;
}

#init .el-form, #login .el-form {
  max-width: 500px;
}

#write .markdown-editor.el-textarea__inner {
  padding: 0;
}

.el-pagination {
  margin-top: 15px;
  padding: 0;
}

#login .login-resetpw {
  margin-left: 30px;
  color: #4db3ff;
  cursor: pointer;
}

#login .el-alert {
  margin-bottom: 20px;
}

#write .markdown-editor .editor-toolbar {
  border: 0;
}

#write .markdown-editor .CodeMirror {
  border-width: 1px 0 1px 0;
  border-radius: 0;
}

#write .markdown-editor .CodeMirror-scroll {
  max-height: 500px;
}

#write .autosave {
  margin: 0 0 10px 100px;
}

#write .autosave a {
  cursor: pointer;
  margin-left: 10px;
  font-weight: bold;
}

.table {
  width: 100%;
  border: 1px solid #dfe6ec;
  color: #1f2d3d;
}

.table th, .table td {
  padding: 5px 10px;
  vertical-align: top;
}

.table th {
  text-align: left;
  font-size: 16px;
  line-height: 30px;
  border-bottom: 1px solid #dfe6ec;
}

.table tbody tr:nth-child(2n-1) {
  background-color: #fafafa;
}

.table a {
  color: #00a0d2;
  text-decoration: none;
  font-weight: bold;
}

.table-name > a {
  font-size: 20px;
}

.table-name div {
  line-height: 14px;
  visibility: hidden;
}

.table tr:hover div {
  visibility: visible;
}

.table-name div > a {
  font-size: 14px;
  font-weight: normal;
  cursor: pointer;
  margin-left: 3px;
}

.table-name i {
  display: none;
}

.table-top {
  margin-bottom: 10px;
  line-height: 40px;
  height: 40px;
}

.table-top a {
  margin: 0 3px;
  color: #00a0d2;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.table-top a.focus {
  color: #1f2d3d;
}

.table-top .el-input {
  float: right;
  width: 200px;
}

@media (max-width: 1000px) {
  #topbar .el-menu-item {
    width: auto;
    display: none;
    float: none!important;
  }

  #topbar .topbar-label {
    display: block;
    margin-left: 18%;
    font-size: 20px;
    text-align: center;
    line-height: 60px;
  }

  #topbar .topbar-label i {
    font-size: 16px;
    margin-left: 10px;
  }

  #topbar.active .el-menu-item {
    display: block;
  }

  #topbar.active .topbar-label i, .table tr.active .table-name i {
    transform: rotate(180deg);
  }

  .table th {
    display: none;
  }

  .table th:first-child {
    display: block;
  }

  .table td {
    box-sizing: border-box;
    width: 100%;
    display: none;
    padding-left: 30%; 
    position: relative;
  }

  .table tr.active td {
    display: block;
  }

  .table td::before {
    position: absolute;
    left: 13px;
    display: block;
    overflow: hidden;
    width: 27%;
    content: attr(data-colname);
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .table td.table-name {
    padding-left: 10px;
    display: block;
  }

  .table td.table-name::before {
    display: none;
  }

  .table-name i {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 19px;
  }

  .table-name > div {
    visibility: visible;
  }
}
