body, html {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
  overflow: auto;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

#topbar #title {
  float: left;
  height: 60px;
  line-height: 60px;
  font-size: 30px;
  margin: 0;
  padding: 0 20px;
  color: #fff;
}

#topbar .el-menu-item a {
  display: inline-block;
  text-decoration: none;
}

.content {
  padding: 20px;
}

#init .el-form, #login .el-form {
  max-width: 500px;
}

#write .markdown-editor.el-textarea__inner {
  padding: 0;
}

#write .markdown-editor .editor-toolbar {
  border: 0;
}
#write .markdown-editor .CodeMirror {
  border-width: 1px 0 1px 0;
  border-radius: 0;
}
