extends layout
block globalVars
  - var siteTitle = config.name
  - var siteDescription = config.description
block content
  div.lpblock
    h2 #{article.title}
    div.markdown
      != md(article.content)
  comment-block(article="#{article.title}" id="#{article._id}" author="#{article.author.name}")
