doctype html
html
  block globalVars
  head
    meta(charset="utf-8")
    title #{siteTitle}
    script(src="/static/node_modules/angular/angular.min.js")
    script(src="/static/dist/app.js")
  body.lp(ng-app="lp")
    include components/sidebar
    div.lpcontent
      block content

