@import './../common/base.css';

html, body {
  height: 100%;
}

.lpadminsidebar {
  position: fixed;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  width: 150px;
  box-shadow: 1px 0 2px 1px #666;
  background-color: #333;
  color: #fff;
  a {
    color: #fff;
  }
}

.lpadminsidebar-title {
  margin: 20px 0;
  padding: 0 10px;
  i {
    font-size: 30px;
    margin-right: 5px;
  }
}

.lpadminsidebar-list {
  a {
    padding: 0 10px;
    display: block;
    line-height: 30px;
    i {
      margin-right: 5px;
    }
    &.focus {
      background-color: #38ccff;
    }
    &:hover {
      background-color: #666;
    }
  }
}

.lpadmincontent {
  padding: 20px 0 0 170px;
  background-color: #f5f5f5;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
}

.lpadminlogin {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  form {
    background-color: #fff;
    box-shadow: 0 0 10px 1px #fff;
    border-radius: 2px;
    padding: 20px;
    width: 350px;
    min-height: 180px;
    margin-bottom: 50px;
    label {
      flex: 1;
      line-height: 28px;
    }
    input {
      flex: 1;
    }
  }
}

.lpadminlogin-title {
  font-size: 20px;
}

.lpadmin-edit textarea {
  display: block!important;
  position: absolute;
  border: 0;
  z-index: -1;
  width: 0;
  height: 0;
  bottom: 30px;
  left: 20px;
  padding: 1px;
  resize: none;
}

.lpadmin-list {
  li {
    display: flex;
    line-height: 30px;
    padding: 0 10px;
    &:nth-child(odd) {
      background-color: #f5f5f5;
    }
    &:first-child {
      font-weight: bold;
    }
  }
  .lpadmin-list-id { flex: 1; }
  .lpadmin-list-title { flex: 5; }
  .lpadmin-list-date { flex: 4; }
  .lpadmin-list-handle {
    flex: 4;
    a {
      margin-right: 10px;
    }
  }
}

.lpadminsetting {
  .lpformgroup {
    width: 400px;
    label {
      flex: 1;
      line-height: 28px;
    }
    input {
      flex: 3;
    }
  }
}
