.lpitemseditblock {
  width: 300px;
  margin-right: 10px;
  > input {
    height: 0;
    width: 0;
    padding: 0;
    border-color: #fff;
  }
}

.lpitemseditblock-title {
  line-height: 30px;
  margin-bottom: 10px;
  label { flex: 2; }
  input {
    flex: 1;
    margin-right: 5px;
  }
  button { flex: 0.4; }
}

.lpitemseditblock-box {
  max-height: 200px;
  overflow: auto;
  > a {
    padding: 0 10px;
    display: inline-block;
    padding: 5px 6px 3px;
    border: 1px solid #d7dee4;
    border-radius: 2px;
    margin: 0 10px 5px 0;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    &.focus {
      padding: 6px 7px 4px;
      border: 0;
      background-color: #38ccff;
      color: #fff;
    }
  }
}
