header.lpsidebar
  div.lpsidebar-title #{siteTitle}
  div.lpsidebar-desc #{siteDescription}
  article-list(type="all")
  tag-cloud(type="category" title="categories")
  tag-cloud(type="tag" title="tags")
  comment-list(type="all")
