extends layout

block header
  .lp-header

block content
  if(articles.length === 0)
  else
    each article, index in articles
      .lp-articlelist
        a(href="articles/#{article.slug}") #{article.title}