doctype html
html
  head
    title= appTitle
    link(rel="stylesheet" href="/js/lp-main.css")
    script(type="text/javascript" src="/js/lp-main.js")
  body
    block header
    block content
    block footer